body {
    text-align: center;
    background: url(grass.jpg);
    font-family: 'Truculenta', sans-serif;

}

span.square {
    display: inline-block;

}

span.square:hover, span.square *:hover {
    cursor: pointer;

}

#square{
    grid-gap: 10px;
}
#board{
    border: black;
}
.row{
    border: black;

}


.container{
    border: 1px solid black;
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    font-family: verdana;

    background-color: darkseagreen;
}